[package]
name = "s3s-aws"
version = "0.2.0-dev"
edition = "2021"
description = "S3 service adapter integrated with aws-sdk-s3"
license = "Apache-2.0"
readme = "../../README.md"
repository = "https://github.com/Nugine/s3s"
keywords = ["s3"]
categories = ["web-programming", "web-programming::http-server"]

[dependencies]
async-trait = "0.1.62"
aws-sdk-s3 = "0.23.0"
aws-smithy-http = "0.53.1"
aws-smithy-types = "0.53.1"
aws-smithy-types-convert = { version = "0.53.1", features = ["convert-time"] }
futures = { version = "0.3.25", default-features = false, features = ["std"] }
hyper = "0.14.23"
s3s = { version = "0.2.0-dev", path = "../s3s" }
tracing = "0.1.37"
