[package]
name = "s3s-aws"
version = "0.7.2-dev"
edition = "2021"
description = "S3 service adapter integrated with aws-sdk-s3"
license = "Apache-2.0"
readme = "../../README.md"
repository = "https://github.com/Nugine/s3s"
keywords = ["s3"]
categories = ["web-programming", "web-programming::http-server"]

[dependencies]
async-trait = "0.1.73"
aws-sdk-s3 = "0.30.0"
aws-smithy-http = { version = "0.56.1", features = ["event-stream"] }
aws-smithy-runtime-api = { version = "0.56.1", features = ["client"] }
aws-smithy-types = "0.56.1"
aws-smithy-types-convert = { version = "0.56.1", features = ["convert-time"] }
bytes = "1.4.0"
futures = { version = "0.3.28", default-features = false, features = ["std"] }
hyper = "0.14.27"
s3s = { version = "0.7.2-dev", path = "../s3s" }
sync_wrapper = "0.1.2"
tracing = "0.1.37"
transform-stream = "0.3.0"
