[workspace]
members = ["crates/*", "codegen"]
resolver = "2"

[workspace.package]
edition = "2021"
repository = "https://github.com/Nugine/s3s"
license = "Apache-2.0"

[profile.release]
debug = "line-tables-only"
