[package]
name = "s3s-fs"
version = "0.6.0-dev"
edition = "2021"
description = "An experimental S3 server based on file system"
license = "Apache-2.0"
readme = "../../README.md"
repository = "https://github.com/Nugine/s3s"
keywords = ["s3"]
categories = ["web-programming", "web-programming::http-server"]

[[bin]]
name = "s3s-fs"
required-features = ["binary"]

[features]
binary = ["tokio/full", "md-5/asm", "dep:clap", "dep:tracing-subscriber", "dep:hyper"]

[dependencies]
async-trait = "0.1.68"
base64-simd = "0.8.0"
bytes = "1.4.0"
chrono = { version = "0.4.24", default-features = false, features = ["std", "clock"] }
clap = { version = "4.2.7", optional = true, features = ["derive"] }
futures = "0.3.28"
hex-simd = "0.8.0"
hyper = { version = "0.14.26", optional = true, features = ["full"] }
md-5 = "0.10.5"
mime = "0.3.17"
numeric_cast = "0.2.1"
path-absolutize = "3.1.0"
s3s = { version = "0.6.0-dev", path = "../s3s" }
serde_json = "1.0.96"
thiserror = "1.0.40"
time = "0.3.21"
tokio = { version = "1.28.1", features = ["fs", "io-util"] }
tokio-util = { version = "0.7.8", features = ["io"] }
tracing = "0.1.37"
tracing-error = "0.2.0"
tracing-subscriber = { version = "0.3.17", optional = true, features = ["env-filter", "time"] }
transform-stream = "0.3.0"
uuid = { version = "1.3.2", features = ["v4"] }

[dev-dependencies]
anyhow = { version = "1.0.71", features = ["backtrace"] }
aws-config = "0.55.2"
aws-credential-types = { version = "0.55.2", features = ["test-util"] }
aws-sdk-s3 = "0.27.0"
once_cell = "1.17.1"
s3s-aws = { version = "0.6.0-dev", path = "../s3s-aws" }
tokio = { version = "1.28.1", features = ["full"] }
tracing-subscriber = { version = "0.3.17", features = ["env-filter", "time"] }
