[package]
name = "s3s-fs"
version = "0.2.0-dev"
edition = "2021"
description = "An experimental S3 server based on file system"
license = "Apache-2.0"
readme = "../../README.md"
repository = "https://github.com/Nugine/s3s"
keywords = ["s3"]
categories = ["web-programming", "web-programming::http-server"]

[[bin]]
name = "s3s-fs"
required-features = ["binary"]

[features]
binary = ["tokio/full", "md-5/asm", "dep:clap", "dep:tracing-subscriber", "dep:hyper"]

[dependencies]
async-trait = "0.1.62"
base64-simd = "0.8.0"
bytes = "1.3.0"
chrono = { version = "0.4.23", default-features = false, features = ["std", "clock"] }
clap = { version = "4.1.1", optional = true, features = ["derive"] }
futures = "0.3.25"
hex-simd = "0.8.0"
hyper = { version = "0.14.23", optional = true, features = ["full"] }
md-5 = "0.10.5"
mime = "0.3.16"
numeric_cast = "0.2.1"
path-absolutize = "3.0.14"
s3s = { version = "0.2.0-dev", path = "../s3s" }
serde_json = "1.0.91"
thiserror = "1.0.38"
time = "0.3.17"
tokio = { version = "1.24.2", features = ["fs", "io-util"] }
tokio-util = { version = "0.7.4", features = ["io"] }
tracing = "0.1.37"
tracing-error = "0.2.0"
tracing-subscriber = { version = "0.3.16", optional = true, features = ["env-filter", "time"] }
transform-stream = "0.2.0"
uuid = { version = "1.2.2", features = ["v4"] }

[dev-dependencies]
aws-config = "0.53.0"
aws-credential-types = { version = "0.53.0", features = ["test-util"] }
aws-sdk-s3 = "0.23.0"
once_cell = "1.17.0"
s3s-aws = { version = "0.2.0-dev", path = "../s3s-aws" }
tokio = { version = "1.24.2", features = ["full"] }
tracing-subscriber = { version = "0.3.16", features = ["env-filter", "time"] }
