[package]
name = "s3s"
version = "0.6.0-dev"
edition = "2021"
description = "S3 Service Adapter"
license = "Apache-2.0"
readme = "../../README.md"
repository = "https://github.com/Nugine/s3s"
keywords = ["s3"]
categories = ["web-programming", "web-programming::http-server"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
arrayvec = "0.7.2"
async-trait = "0.1.68"
atoi = { version = "2.0.0", default-features = false }
base64-simd = "0.8.0"
bytes = "1.4.0"
bytestring = "1.3.0"
chrono = { version = "0.4.24", default-features = false }
crc32fast = "1.3.2"
futures = { version = "0.3.28", default-features = false, features = ["std"] }
hex-simd = "0.8.0"
hmac = "0.12.1"
http-body = "0.4.5"
httparse = "1.8.0"
hyper = { version = "0.14.26", features = ["stream"] }
memchr = "2.5.0"
mime = "0.3.17"
nom = "7.1.3"
nugine-rust-utils = { version = "0.1.2", features = ["ascii", "utf8"] }
pin-project-lite = "0.2.9"
quick-xml = { version = "0.28.2", features = ["serialize"] }
serde = { version = "1.0.163", features = ["derive"] }
serde_urlencoded = "0.7.1"
sha1 = "0.10.5"
sha2 = "0.10.6"
smallvec = "1.10.0"
thiserror = "1.0.40"
time = { version = "0.3.21", features = ["formatting", "parsing", "macros"] }
tracing = "0.1.37"
transform-stream = "0.3.0"
urlencoding = "2.1.2"
zeroize = "1.6.0"

[dev-dependencies]
tokio = { version = "1.28.1", features = ["full"] }
