[package]
name = "s3s"
version = "0.3.0-dev"
edition = "2021"
description = "S3 Service Adapter"
license = "Apache-2.0"
readme = "../../README.md"
repository = "https://github.com/Nugine/s3s"
keywords = ["s3"]
categories = ["web-programming", "web-programming::http-server"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
arrayvec = "0.7.2"
ascii = { version = "1.1.0", default-features = false }
async-trait = "0.1.63"
atoi = { version = "2.0.0", default-features = false }
aws-sdk-s3 = { version = "0.24.0", optional = true }
aws-smithy-http = { version = "0.54.1", optional = true }
aws-smithy-types-convert = { version = "0.54.1", optional = true, features = ["convert-time"] }
base64-simd = "0.8.0"
bytes = "1.3.0"
bytestring = "1.2.0"
chrono = { version = "0.4.23", default-features = false }
futures = { version = "0.3.25", default-features = false, features = ["std"] }
hex-simd = "0.8.0"
hmac = "0.12.1"
http-body = "0.4.5"
httparse = "1.8.0"
# TODO(blocking): upgrade to hyper 1.0.0
hyper = { version = "0.14.23", features = ["stream"] }
memchr = "2.5.0"
mime = "0.3.16"
nom = "7.1.3"
pin-project-lite = "0.2.9"
quick-xml = { version = "0.27.1", features = ["serialize"] }
serde = { version = "1.0.152", features = ["derive"] }
serde_urlencoded = "0.7.1"
sha2 = "0.10.6"
smallvec = "1.10.0"
thiserror = "1.0.38"
time = { version = "0.3.17", features = ["formatting", "parsing", "macros"] }
tracing = "0.1.37"
transform-stream = "0.2.0"
urlencoding = "2.1.2"

[dev-dependencies]
const-str = "0.5.3"
tokio = { version = "1.25.0", features = ["full"] }
