[package]
name = "s3s-proxy"
version = "0.0.0"
edition = "2021"
publish = false

[dependencies]
aws-config = { version = "1.1.2", default-features = false, features = ["behavior-version-latest"] }
aws-credential-types = "1.1.2"
aws-sdk-s3 = "1.12.0"
clap = { version = "4.3.21", features = ["derive"] }
hyper = { version = "0.14.27", features = ["full"] }
s3s = { version = "0.9.0", path = "../s3s" }
s3s-aws = { version = "0.9.0", path = "../s3s-aws" }
tokio = { version = "1.31.0", features = ["full"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter", "time"] }
