[package]
name = "s3s-proxy"
version = "0.0.0"
edition = "2021"
publish = false

[dependencies]
aws-config = "0.53.0"
aws-credential-types = "0.53.0"
aws-sdk-s3 = "0.23.0"
clap = { version = "4.1.1", features = ["derive"] }
hyper = { version = "0.14.23", features = ["full"] }
s3s = { version = "0.2.0", path = "../s3s" }
s3s-aws = { version = "0.2.0", path = "../s3s-aws" }
tokio = { version = "1.24.2", features = ["full"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.16", features = ["env-filter", "time"] }
