[package]
name = "s3s-proxy"
version = "0.11.0"
description = "S3 Proxy"
readme = "../../README.md"
keywords = ["s3"]
categories = ["web-programming", "web-programming::http-server"]
edition.workspace = true
repository.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
aws-config = { version = "1.6.1", default-features = false, features = [
    "behavior-version-latest",
] }
aws-credential-types = "1.2.2"
aws-sdk-s3 = "1.80.0"
clap = { version = "4.5.34", features = ["derive"] }
hyper-util = { version = "0.1.10", features = [
    "server-auto",
    "server-graceful",
    "http1",
    "http2",
    "tokio",
] }
s3s = { version = "0.11.0", path = "../s3s" }
s3s-aws = { version = "0.11.0", path = "../s3s-aws" }
tokio = { version = "1.44.1", features = ["full"] }
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.19", features = ["env-filter", "time"] }
