[package]
name = "s3s-proxy"
version = "0.0.0"
edition = "2021"
publish = false

[dependencies]
aws-config = "0.56.0"
aws-credential-types = "0.56.0"
aws-sdk-s3 = "0.29.0"
clap = { version = "4.3.17", features = ["derive"] }
hyper = { version = "0.14.27", features = ["full"] }
s3s = { version = "0.6.2-dev", path = "../s3s" }
s3s-aws = { version = "0.6.2-dev", path = "../s3s-aws" }
tokio = { version = "1.29.1", features = ["full"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter", "time"] }
